@model IEnumerable<MainsoftTesting.Domain.Models.AssignedExamListModel>

@{
    ViewData["Title"] = "Assigned";
}

<h1>Assigned</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocType)
                @Html.DisplayFor(modelItem => item.DocNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Reenviar correo", "SendMail", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
}
    </tbody>
</table>
