@model IEnumerable<MainsoftTesting.Domain.Models.ExamListModel>

@{
    ViewData["Title"] = "Assign";
}

<h1>Asignación de examen</h1>

<p>
    <h3>Candidato: <strong>@ViewBag.UserObject.Name @ViewBag.UserObject.LastName</strong></h3>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimatedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamProfile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamTechnology)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfQuestions)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamProfile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamTechnology)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfQuestions)
                </td>
                <td>
                    
                    <a asp-route="assign-EXAM" asp-route-id="@item.Id" asp-route-userId="@ViewBag.UserObject.Id" class="btn btn-sm btn-warning">Asignar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

