@model MainsoftTesting.Models.CreateUserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Deltalles para el usuario @Model.Name @Model.LastName</h1>

<div>
    <!-- Card for personal information -->
    <div class="card">
        <div class="card-header">
            Información personal
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CellPhone, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.CellPhone, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))),"--",new { @class = "form-select" })
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaritalStatus, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.MaritalStatus, new SelectList(Enum.GetValues(typeof(MaritalStatus))),"--",new { @class = "form-select" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DocType, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.DocType, new SelectList(Enum.GetValues(typeof(DocumentType))),"--",new { @class = "form-select" })
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DocNumber, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.DocNumber, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nationality, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control" })
                        </div>
                    </div>

                </div>        
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Age, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
                        </div>
                    </div>

                </div>        
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthCity, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.BirthCity, new { @class = "form-control" })
                        </div>
                    </div>

                </div>        
            </div>
        </div>
    </div>
    <br/>
    <!-- Card for laboral information -->
    <div class="card">
        <div class="card-header">
            Información laboral
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.JobSituation, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.JobSituation, new SelectList(Enum.GetValues(typeof(JobStatuis))),"--",new { @class = "form-select" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastJobCompany, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.LastJobCompany, new { @class = "form-control" })
                        </div>
                    </div>
                </div>        
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastJobCity, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.LastJobCity, new { @class = "form-control" })
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastJobName, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.LastJobName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>        
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastJobReasson, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.LastJobReasson, new { @class = "form-control" })
                        </div>
                    </div>
                </div>  

            </div>
        </div>
    </div>
    <br/>
    <!-- Card for academic information -->
    <div class="card">
        <div class="card-header">
            Información académica
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AcademicLevel, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.AcademicLevel, new SelectList(Enum.GetValues(typeof(StudyLevel))),"--",new { @class = "form-select" })
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AcademicInstitution, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.AcademicInstitution, new { @class = "form-control" })
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DegreeFinalization, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.DegreeFinalization, new { @class = "form-control" })
                        </div>
                    </div>
                </div> 
                <div class="col-9">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DegreeTitle, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.DegreeTitle, new { @class = "form-control" })
                        </div>
                    </div>
                </div> 
            </div>        
        </div>
    </div>

</div>
<br/>
<div>
    <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
    <a asp-action="Index" class="btn btn-success">Asignar pruebas</a>
</div>
